body{
  margin: 0px;
   text-align: center;
}

.top-container{
  height: 550px;
  background-color:#E8DFCA ;
}
h1{
  margin-top: 0px;
  font-family: 'Merriweather', serif;
  font-size: 50px;

}
 h2{
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 2.5rem;

}
.underline{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 180px;
  top: 10px;
}

.bottom-cloud{
  position: absolute;
  top: 200px;
  left: 50px;
}
.profile-image{
  width: 250px;
  height: 250px;
}
.profile-image1{
  width: 15%;
  float: left;
  margin-right: 30px;
}
.profile-image2{
  width: 15%;
  float: right;
}
.profile{
  font-size:25px;
 margin-top: 100px;
}
.Skill-row{
  font-size: 25px;
  width: 50%;
  margin: 100px auto ;
  text-align: left;
}
.JavaScript-desc{
  clear: right;
}
.contact-us1{
  position: absolute;
  left: 20%;

}
.contact-us2{
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
}
.contact-us3{
  position: absolute;
  left: 20%;
  margin-top: 8%;;
}
.contact-us4{
  position: absolute;
  margin-top: 10%;
  margin-left: 20%;
}
.contact-us5{
  position: absolute;
  margin-top: 12%;
  margin-left: 20%;
}
.contact-us6{
  position: absolute;
  margin-top: 14%;
  margin-left: 20%;
}
